body {
  margin-top: 0px;
}
.header  {
  background-color: rgb(27, 62, 136);
  color: white;
  height: 90px;
  text-align: center;
  border: 2px solid black;
}
.header h1 {
  padding-top: 15px;
  font-size: 40px;
}

.fakeimg {
  background-color: rgb(71, 125, 235);
  width: 125px;
  height: 100px;
}

.column {
  float: left;
  padding: 10px;
}

/* Left column */
.column.left {   
  width: 40%;
  border-top: 20px solid rgb(203, 226, 244);
  margin-top: 30px;
  margin-left: 25%;
}

/* Right column */
.column.right {
  width: 15%;
  height: 60px;
  padding-left: 90px;
  margin-top: 80px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
background-color: rgb(27, 62, 137);
height: 90px;
border: 2px solid black;
}